*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    padding: 30px  10px;
    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px -11px #817e7e;
}
.input{
   display: grid;
   gap: 20px;
   width: 100%;
}
.input input{
    padding: 10px;
    font-size: 15px;
}
.select{
    display: flex;
    gap: 20px;
    margin: 20px 0;
    font-size: 20px;
    justify-content: space-around;
}
#select-user{
    background: white;
    /* border: 5px; */
    border-radius: 8px;
    border: solid black 1px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}
#sbmt_btn{
    border-radius: 5px;
    background-color: #fff;
    border: solid black 1px;
    padding: 5px 30px;
    font-size: 17px;
    cursor: pointer;
}
.btn{
    margin: 20px 0;
    text-align: center;
}
#error{
    text-align: center;
    color: red;
    font-size: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}